.theme--light.v-sheet,
.theme--light.v-card {
	background-color: #ffffff;
}

.theme--light.v-application {
	background-color: #ddd;
}

.background-cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
